{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="static/css/style.css">
<h4>И на Марсе будут яблони цвести!</h4><br>
<div style="display: flex; align-items: center;">
<img src="static/img/mars.png">
    <h1>Аварийный доступ</h1>
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id.label }}<br>
        {{ form.id(class="form-control") }}<br>
        {% for error in form.id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>
        {{ form.captain_id.label }}<br>
        {{ form.captain_id(class="form-control") }}<br>
        {% for error in form.id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.captain_password.label }}<br>
        {{ form.captain_password(class="form-control", type="password") }}<br>
        {% for error in form.captain_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}